body {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,segoe ui;
font-size: 14px;
line-height: 1.42857143;
color: #333;
background-color: #fff;
}

/* styles for sticky header */

.navbar-wrapper .container .navbar-inverse{
	 background-color: #056135;
     border-color: #080808;
}

.navbar-wrapper .container {
padding-right: 0;
padding-left: 0;
}

.navbar-wrapper .container {
/* padding-right: 15px; */
/* padding-left: 15px; */
}

.container {
width: 100%;
}

.navbar-default {
background-color: #056135;
border-color: #e7e7e7;
color: #fff;
background-color: #7FB86C;
background: rgb(#056135230, 16,21);
background: -moz-linear-gradient(90deg, rgb(230, 16,21) 30%, rgb(81, 4, 7) 70%);
background: -webkit-linear-gradient(90deg, rgb(230, 16,21) 30%, rgb(81, 4, 7) 70%);
background: -o-linear-gradient(90deg, rgb(230, 16,21) 30%, rgb(81, 4, 7) 70%);
background: -ms-linear-gradient(90deg, rgb(230, 16,21) 30%, rgb(81, 4, 7) 70%);
background: linear-gradient(180deg, #6DAC58 30%, #056135 70%);
text-shadow: 1px 1px 5px #265203;
font-family: helvetica;
font-size: 16px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: white;
background-color:#056135;
}

.navbar-default .navbar-nav>li>a {
color: white;
font-family: segoe ui;
font-size: 14px;
}

element.style {
}

.navbar-default .navbar-nav>li>a {
	background-color: #056135;
	border-color: #e7e7e7;
	color: #fff;
	background-color: #7FB86C;
	background: rgb(#056135230, 16,21);
	background: -moz-linear-gradient(90deg, rgb(230, 16,21) 30%, rgb(81, 4, 7) 70%);
	background: -webkit-linear-gradient(90deg, rgb(230, 16,21) 30%, rgb(81, 4, 7) 70%);
	background: -o-linear-gradient(90deg, rgb(230, 16,21) 30%, rgb(81, 4, 7) 70%);
	background: -ms-linear-gradient(90deg, rgb(230, 16,21) 30%, rgb(81, 4, 7) 70%);
	background: linear-gradient(180deg, #6DAC58 30%, #056135 70%);
	text-shadow: 1px 1px 5px #265203;
	font-family: helvetica;
	font-size: 16px;
}



/* styles for the home page */

.carousel-caption {
	left: 20%;
	right: 20%;
	padding-bottom: 180px;
}

footer{
	position: absolute;
	bottom: auto;
	background: #6cf;
	font-family: helvetica;
	font-size: 16px;
	background-color: #056135;
	color: white;
	text-align: center;
	width: 100%;
	height: 70px;
	margin-top: 30px;
}
.navbar-brand {
	float: left;
	padding: 15px;
	font-size: 18px;
	line-height: 20px;
	height: 50px;
	/* background-color: red; */
	color: white;
}
.navbar-brand  > a{
	color:yelow;
}
.navbar-default .navbar-brand {
/* color: #777;*/
font-size: 30px;
color: rgb(245, 203, 125);
}

/*Login form pop up */
.form-control {
ddisplay: block;
width: 50%;
height: 34px;
padding: 12px 12px;
font-size: 14px;
line-height: 1.42857143;
color: green;
background-color: white;
background-image: none;
border: 1px solid green;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
margin-left: 25%;
margin-bottom: 2%;
}

.row{
width: 100%;
display: block;
padding-left: 20%;
padding-right: 10px;
margin-top: 150px;
}
.row .col-lg-4{
/* width: 32%;
padding: 2%;*/
}
.img-circle {
border-radius: 50%;
width: 140px;
height: 140px;
}

.col-lg-4 h2, .h2 {
font-size: 36px;
color: rgb(21, 82, 21);
font-weight: 100;
margin-left: 9%;
}

h1, .h1 {
font-size: 36px;
font-weight: 100;
color: yellow;
padding: 12px;
}
p{
	font-weight: 100;
	padding: 12px;
}
h2{
	font-weight: 100;
	padding: 12px;
}
